# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.settings
.classpath
.factorypath
.project
.vscode
target/
logs/
*.iml
out
bin/
gen
# Package Files #
*.jar
*.war
*.ear
*.log
.DS_Store